<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "Upload a File", new_upload_file_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Filename</th>
         <th>Download Link</th>
         <th>Filesize </th>
         <th>SHA256 Digest</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @upload_files.each do |upload_file| %>
         
         <tr>
            <td><%= upload_file.filename %></td>
            <td><%= link_to "Download File", upload_file.attachment_url,download: upload_file.filename %></td>
            <td><%= upload_file.filesize %> KiB </td>
            <td><%= upload_file.digest %> </td>
            <td><%= button_to "Delete",  upload_file, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this file?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>