<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<nav class="navbar navbar-dark bg-dark">
   <a class="navbar-brand" href="#">DropCube</a>
</nav>

<br />

<%= link_to "Upload a File", new_upload_file_path, class: "btn btn-primary" %>
<br />

<table class = "table table-striped">
   <thead>.
      <tr>
         <th>Filename</th>
         <th>Filesize </th>
         <th>SHA256 Digest</th>
         <th> </th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @upload_files.each do |upload_file| %>
         
         <tr>
            
            <td>
               <%= form_for upload_file, url: {action: "rename"}, html: {class: "input_form"} do |f| %>
               <%= f.text_field :filename, size:15 %>
               <%= f.hidden_field :id, :value => upload_file.id %>
               <%= f.submit "Rename", class: "btn btn-outline-secondary" %>
               <% end %>
            </td>
               
            <td><%= upload_file.filesize %> KiB </td>
            <td><%= upload_file.digest %> </td>
            <td><%= link_to "Download", upload_file.attachment_url, download: upload_file.filename, class: "btn btn-link" %></td>
            <td><%= button_to "Delete",  upload_file, method: :delete, class: "btn btn-danger" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>